#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  overflow: auto;
}

#content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 410px /* 200 + 10*/;
  right: 0;
  overflow: hidden;
}

#sidebar-resizer {
  background-color: #666;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 400px;
  width: 10px;
  cursor: e-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
  background-color: #AAA;
}
