<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{userInput.header}}</h4>
      </div>
      <form id="loginForm">
        <div class="modal-body">
          <label for="filename">{{userInput.prompt}}
            <input type="text" id="filename" ng-model="userInput.userInput" sync-focus-with="userInput.focus"
                   placeholder="{{userInput.placeholder}}">
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit" ng-click="userInput.submit()" data-dismiss="modal">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
