<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="login.dismissModal()" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <button ng-click="login.login('google')">Sign in with Google</button>
        <button ng-click="login.login('github')">Sign in with GitHub</button>
      </div>
    </div>
  </div>
</div>
