<div id="sidebar">
  <h2>{{welcome.project.name}}</h2>
  <a ng-click="welcome.login()">Login</a>

  <p>{{welcome.user | json}}</p>

  <div ng-repeat="fileName in welcome.project.fileNames">
    <a>{{fileName}}</a>
  </div>
</div>

<div id="content">
  <div id="editor" class="editor" ui-ace="welcome.editor"
       ng-model="welcome.file.contents"></div>
</div>

<div id="sidebar-resizer"
     resizer="vertical"
     resizer-width="10"
     resizer-left="#sidebar"
     resizer-right="#content"
     resizer-min="50"
     resizer-max="400">
</div>
