<div id="sidebar">
  <h2 ng-show="welcome.project.name">{{welcome.project.name}}</h2>

  <h2 ng-hide="welcome.project.name">PropWare IDE</h2>

  <div>
    <a ng-click="welcome.login()" ng-hide="welcome.user">Login</a>
    <a ng-click="welcome.logout()" ng-show="welcome.user">Logout ({{welcome.user}})</a>
  </div>

  <div ng-show="welcome.user">
    <button class="btn btn-default" ng-click="welcome.openProject()">Open project</button>

    <div ng-repeat="(fileName, fileContents) in welcome.project.files">
      <a ng-click="welcome.openFile(fileName)">{{fileName}}</a>
    </div>
  </div>
</div>

<div id="content">
  <div id="editor" class="editor" ui-ace="welcome.editor" ng-model="welcome.currentFile"></div>
</div>

<div id="sidebar-resizer"
     resizer="vertical"
     resizer-width="10"
     resizer-left="#sidebar"
     resizer-right="#content"
     resizer-min="50"
     resizer-max="400">
</div>
