<div id="sidebar">
  <h2 ng-show="welcome.project.name">{{welcome.project.name}}</h2>

  <h2 ng-hide="welcome.project.name">PropWare IDE</h2>

  <div>
    <a ng-click="welcome.login()" ng-hide="welcome.user">Login</a>
    <a ng-click="welcome.logout()" ng-show="welcome.user">Logout ({{welcome.user}})</a>
  </div>

  <div ng-show="welcome.user">
    <hr>

    <button class="btn btn-default" ng-click="welcome.openProject()">Open project</button>

    <div ng-show="welcome.project.name">
      <hr>

      <div ng-repeat="(fileName, fileContents) in welcome.project.files">
        <a ng-click="welcome.openFile(fileName)">{{fileName}}</a><span
        ng-show="welcome.currentFile.name === fileName"><span
        ng-show="welcome.currentFile.content !== welcome.project.files[fileName]">*</span> -
          <a ng-click="welcome.attemptFileClose()">Close</a>
        </span>
      </div>

      <hr>

      <button class="btn btn-default" ng-click="welcome.newFile()">New file</button>
    </div>
  </div>
</div>

<div id="content">
  <div id="editor" class="editor" ui-ace="welcome.editorSettings" ng-model="welcome.currentFile.content"></div>
</div>

<div id="sidebar-resizer"
     resizer="vertical"
     resizer-width="10"
     resizer-left="#sidebar"
     resizer-right="#content"
     resizer-min="50"
     resizer-max="400">
</div>
